html{
  background-color: black;
}


#h1{
text-align: center;
color: white;
}

#button{
width: 13vw;
height: 3vw;
background-color: white;
margin-left: 8.5vw;
font-size: 1.3rem;
}


#retangle1{
  background-color: white;
  margin-left: 10vw;
  margin-top: 8vh;
  width: 10vw;
  height: 2vw;
  word-break: break-all;
}
#retangle2{
  background-color: white;
  margin-left: 10vw;
  margin-top: 8vh;
  width: 10vw;
  height: 2vw;
}
#retangle3{
  background-color: white;
  margin-left: 10vw;
  margin-top: 8vh;
  width: 10vw;
  height: 2vw;
}
#retangle4{
  background-color: white;
  margin-left: 10vw;
  margin-top: 8vh;
  width: 10vw;
  height: 2vw;
}
#retangle5{
  background-color: white;
  margin-left: 10vw;
  margin-top: 8vh;
  width: 10vw;
  height: 2vw;
}
#retangle6{
  background-color: white;
  margin-left: 10vw;
  margin-top: 8vh;
  width: 10vw;
  height: 2vw;
}

/*todo: create beatiful borders uWu*/
